JWT_SECRET=your_secret_key
# =========================
# Node.js
# =========================
PORT=3000

# =========================
# MySQL - Application User
# =========================
DB_HOST=db
DB_PORT=3306
DB_NAME=notes_app
DB_USER=notes_app_user
DB_PASSWORD=your_user_pass

# =========================
# MySQL - Initialization
# =========================
MYSQL_ROOT_PASSWORD=root_password_123
MYSQL_DATABASE=notes_app
MYSQL_USER=notes_app_user
MYSQL_PASSWORD=your_user_pass
